{% extends 'base.html'%}

<!-- Content block -->
{% block content %}
<div class="container">
    <div class="row">
        {%for article in articles %}
        <div class="col-md-">
            <div class="thumbnail">
            <h3>{{ article.title }}</h3>

            <p class="overview"> {{article.description}}</p>
            <p><img src="{{article.urlToImage}}"class="img-fluid"s></p>
            <a href="{{article.url}}"><button class="btn btn-primary">READ MORE</button></a>
            <p>Pulished at :{{article.date}}</p>
        {%endfor%}
        </div>
        </div>
        </div>

</div>
{% endblock %}