{% extends 'base.html'%}
{% block content%}
<div class="container">
        <h3> WELCOME TO ARTICLES </h3>
        {% for article_row in articles | batch(3)%}
	        <div class="row">
		        {% for article in article_row %}
		        	<div class="col-md-4">
				        <div class="thumbnail">
				              <h3>{{article.title}}</h3>
						      <img src="{{article.urlToImage}}"  class="img-responsive"style="height:250px" >
						      <div class="me">
						        <p>{{article.description | truncate(10)}}</p>
						        <a href="{{article.url}}" target="_blank"> <button class="btn btn-primary">read more</button></a>
 
						      </div>
						    
						      Published At: {{article.date}}
	  					</div>
			     	</div>
			     	
		        {% endfor %}
	        
	        </div>
         
        {% endfor %}
        
	
</div>
{%endblock%}