<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{sources.title}}</title>
</head>
{% extends 'base.html'%}
{% import 'macros.html'as macro%}

<body>
    



{%block content%}
<div class="contaoner">
    <h3>business</h3>
    {{ macro.displaySourceList(sources)}}
    <h3>technology</h3>
    {{ macro.displaySourceList(technology)}}
    <h3>sport</h3>
    {{ macro.displaySourceList(sports)}}
    <h3>Entertainment news</h3>
    {{ macro.displaySourceList(entertainment)}}
</div>
{%endblock%}  
</body>
</html>