<!-- <h1> Hello World </h1>
<html>
<title>welcome</title> -->

{% extends 'base.html'%}
<!-- Styles block -->
{%block content%}
{% block styles%}

    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->
      <h3> sources</h3>
      <ul>
         {% for source in business %}
            <li>{{source.name}}</li>
            <li>{{source.description}}</li>
            <li>{{source.category}}</li>
            <li>{{source.country}}</li>
            <li>{{source.language}}</li>
            <li><a href="/articles/{{source.id}}"> view{{ source.name}}</a></li>
         {% endfor %}
     </ul>

   
     <h3> Sport</h3>
      <ul>
            {% for sports_sources in sports %}
            <li>{{sports_sources.name}}</li>
            <li>{{sports_sources.description}}</li>
            <li>{{sports_sources.category}}</li>
            <li>{{sports_sources.country}}</li>
            <li>{{sports_sources.language}}</li>
         {% endfor %}
     </ul>
  
     <h3>technology</h3>
      <ul>
        {% for technology_sources in technology %}
         <li>{{technology_sources.name}}</li>
         <li>{{technology_sources.description}}</li>
         <li>{{technology_sources.category}}</li>
         <li>{{technology_sources.country}}</li>
         <li>{{technology_sources.language}}</li>
         {% endfor %}
     </ul>
 
    <h3>Entertainment</h3>
     <ul>
            {% for entertainment_sources in entertainment %}
       
            <li>{{entertainment_sources.name}}</li>
            <li>{{entertainment_sources.description}}</li>
            <li>{{entertainment_sources.category}}</li>
            <li>{{entertainment_sources.country}}</li>
            <li>{{entertainment_sources.language}}</li>
          
        {% endfor %}


</ul>
{% endblock %}